// Color variables
$orange: #F7B313;
$blue: #B7D2E5;
$green: #9BD6D4;
$pink: #EB6F02;
$gray: #4A4A4A;
$white: #FAFAFA;
$baige: #F0EDE7;
$darkBaige: #E2DACB;

// HTML Tags
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    background-color: $white;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    color: $gray;
}

h2 {
    font-size: 2rem;
    margin: 0;
    color: $gray;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color: $gray;
}

p {
    font-size: 1rem;
    color: $gray;
}


// NAVBAR
//-----------------------------------
#nav_bar {
    padding: 0.3%;
    color: $white;
    background-color: $orange;
    box-shadow: none;
}

#nav_logo {
    width: 20%;
    height: auto;
    margin-left: 5%;
}

.nav_drop {
    margin-top: 5%;
    background-color: $white;
}

// FOOTER
//-----------------------------------
#footer {
    text-align: center;
    color: $white;
    background-color: $gray;

}

#blue_strip {
    width: 100%;
    height: 40px;
    color: $green;
    background-color: $green;
}

#footer_inner_box {
    padding: 1.5% 0;
}

#footer_text {
    width:30%;
    margin: 0 auto 1% auto;
    display: flex;
    justify-content: space-around;
}

// XP CARDS
//-----------------------------------
#xp_card_container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 2.55% 10%;
}

.xp_card {
    width: 20%;
    height: auto;
}

.xp_card_img {
    width: 100%;
    height: auto;
    margin: 1%;
}

// DISPLAY
//-----------------------------------
.space_between {
    display: flex;
    justify-content: space-between;
}

.space_around {
    display: flex;
    justify-content: space-around;
}

.centerH {
    text-align: center;
}

// SPACING
//-----------------------------------
.small_margin {
    margin: 2.5%;
}

// COLOR
//-----------------------------------
.orange {
    color: $orange;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
}

.pink {
    color: $pink;
}

.gray {
    color: $gray;
}

.white {
    color: $white;
}

.baige {
    color: $baige;
}

.darkBaige {
    color: $darkBaige;
}


